extends layout

block content
    h1 Registreeru
    form(method='POST', action='/users/add')
        #form-group
            label Nimi:
            input.form-control(name='name', type="text")
        #form-group
            label Kasutajanimi:
            input.form-control(name='username', type="text")
        #form-group
            label E-mail:
            input.form-control(name='email', type="text")
        #form-group
            label Parool:
            input.form-control(name='password', type="password")
        #form-group
            label Parool uuesti:
            input.form-control(name='passwordconfirm', type="password")
        br
        input.btn.btn-primary(type='submit', value='Registreeru kasutajaks')