extends layout

block content
    h1 #{title}
    form(method='POST', action='/excuses/add')
        #form-group
            label Pealkiri:
            input.form-control(name='title', type="text")
        #form-group
            label Sisu:
            textarea.form-control(name='body')
        br
        input.btn.btn-primary(type='submit', value='Lisa vabandus')