extends layout

block content
    h1 #{title}
    form(method='POST', action='/excuses/edit/'+excuse._id)
        #form-group
            label Vabandus:
            input.form-control(name='title', type="text", value=excuse.title)
        #form-group
            label Täpsustus:
            textarea.form-control(name='body')= excuse.body
        br
        input.btn.btn-primary(type='submit', value='Muuda vabandust')