extends layout

block content
    h1= excuse.title
    h5 Autor #{excuse.author}
    p= excuse.body
    hr
    a.btn.btn-default(href='/excuses/edit/'+excuse._id) Muuda
    a.btn.btn-danger.delete-excuse(href='#', data-id=excuse._id) Kustuta