extends layout

block content
    h1 #{title}
    ul.list-group
        if excuses
            each excuse, i in excuses
                li.list-group-item
                    a(href="/excuses/"+excuse._id)= excuse.title